.App {
  display:flex;
  text-align: center;
  height:100vh;
  align-items: center;
  justify-content: center;
}

.contenedor{
  text-align: center;
}

.btn{
  border: 3px solid;
  border-radius:25px;
  padding:1rem 8rem;
  text-decoration: none;
  font-weight: bold;
  display:inline-block;
  font-size:1rem;
  margin: 0rem 0.25rem;
  cursor: pointer;
}

h1{
  border:2px solid;
  border-radius:1rem;
  padding:3rem 8rem;
  text-transform: uppercase;
  background-color:white;
}